<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}AIS GAME!{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('/bundles/iasgame/vendor/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('/bundles/iasgame/vendor/css/bootstrap-material-design.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('/bundles/iasgame/vendor/css/ripples.css') }}" rel="stylesheet"/>
    {% endblock %}

    {% block page_stylesheets %}
        <link href="{{ asset('/bundles/iasgame/css/style.css') }}" rel="stylesheet"/>
    {% endblock %}

    {% block js_base %}
        <script src="{{ asset('/bundles/iasgame/vendor/js/jquery-2.1.1.min.js') }}"></script>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{{ include('IasGameBundle::template/nav.html.twig') }}
{% block nav %}{% endblock %}

<section class="container">
    <div class="row">
        <div class="col-sm-12">

            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <strong>Attention!</strong> {{ flash_message }}
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            {#{% block nav %}{% endblock %}#}

        </div>
    </div>
</section>
{% block body %}{% endblock %}
{#{% block javascripts %}#}
{% block javascript %}

    <script src="{{ asset('/bundles/iasgame/vendor/js/bootstrap.js') }}"></script>
    <script src="{{ asset('/bundles/iasgame/vendor/js/material.min.js') }}"></script>
    <script src="{{ asset('/bundles/iasgame/vendor/js/ripples.js') }}"></script>
    <script src="{{ asset('/bundles/iasgame/js/index.js') }}"></script>
{% endblock %}

</body>
</html>