{% extends 'IasGameBundle::base.html.twig' %}

{% block page_stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/iasgame/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            {% for tag in form. %}
            <div>{{ tag }}</div>
            {% endfor %}

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {#{{ form_row(form.name) }}#}
            {#{{ form_row(form.task.duoDate) }}#}
            {#{{ form_row(form.task.description) }}#}
            {#{{ form_row(form.task.category.name) }}#}
            {#<h3>Tags</h3>#}
            {#<ul class="tags">#}
                {#{% for tag in form.task.tags %}#}
                    {#<li>{{ form_row(tag.name) }}</li>#}
                {#{% endfor %}#}
            {#</ul>#}

            <input type="submit" class="btn btn-success btn-raised" value="Создать запись">

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('/bundles/iasgame/vendor/moment/js/moment.min.js') }}"></script>
    <script src="{{ asset('/bundles/iasgame/vendor/moment/js/locales.min.js') }}"></script>
    <script src="{{ asset('/bundles/iasgame/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('/bundles/iasgame/js/example.js') }}"></script>
{% endblock %}