{% extends 'IasGameBundle::base.html.twig' %}

{% block page_stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/iasgame/css/GameSession.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{ form_start(gameForm) }}
                {{ form_widget(gameForm) }}

                <input type="submit" value="Создать заявку" class="btn btn-primary btn-raised">
                {{ form_end(gameForm) }}

            </div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">

                {% for item in game_session %}

                    {% if item[0].getGameSession() is not empty %}
                        <h3>{{ item[0].name }}</h3>

                        <table class="table table-striped game_session">
                            {% for game in item[0].getGameSession() %}
                                <tr>
                                    <td>{{ item.username }}</td>
                                    <td>{{ game.created|date('d-m-Y H:i:s') }}</td>
                                    <td>
                                        <a role="button" href="{{ path('ias_game_join_game', {'id':game.id }) }}"
                                           class="btn btn-info btn-raised">Присоединиться</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}


                    {#{% if item.getGameSession() is not empty %}#}
                    {#<h3>{{ item.name }}</h3>#}

                    {#<table class="table table-striped game_session">#}
                    {#{% for game in item.getGameSession() %}#}
                    {#<tr>#}
                    {#<td>{{ game.getGamer()[0].getUser().getUsername() }}</td>#}
                    {#<td>{{ game.getUsername() }}</td>#}
                    {#<td>{{ game.created|date('d-m-Y H:i:s') }}</td>#}
                    {#<td>#}
                    {#<a role="button" href="{{ path('ias_game_join_game', {'id':game.id }) }}"#}
                    {#class="btn btn-info btn-raised">Присоединиться</a>#}
                    {#</td>#}
                    {#</tr>#}
                    {#{% endfor %}#}
                    {#</table>#}
                    {#{% endif %}#}
                {% endfor %}

            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}
