{% extends 'IasGameBundle::base.html.twig' %}

{% block page_stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/iasgame/css/GameSession.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-12">

                {% for item in game_session %}

                    <h3>{{ item.game.name }}</h3>

                    <table class="table table-striped game_session">
                        {% for gamer in item.gamer %}
                            <tr>
                                <td>{{ gamer.login }}</td>
                                <td>{{ item.created|date('Y-m-d H:i:s') }}</td>
                                <td>
                                    <button class="btn btn-info">Присоединиться</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                {% endfor %}

            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}