{% extends 'IasGameBundle::base.html.twig' %}

{% block page_stylesheets %}
    {{ parent() }}


    <link href="{{ asset('/bundles/iasgame/vendor/material-cards/css/material-cards.css') }}" rel="stylesheet"/>
    <link href="{{ asset('/bundles/iasgame/vendor/material-cards/css/material-cards-auto-height.css') }}"
          rel="stylesheet"/>
    <link href="{{ asset('/bundles/iasgame/vendor/material-cards/css/font-awesome.min.css') }}" rel="stylesheet"/>
{% endblock %}

    {% block body %}


        <section class="container">
            <div class="row">
                {% if games %}
                    {% for game in games %}
                        <div class="col-sm-4">
                            <article class="material-card Red">
                                <h2>
                                    <span>{{ game.name }}</span>
                                    <strong>
                                        <i class="fa fa-fw fa-star"></i>
                                        TYPE GAME
                                    </strong>
                                </h2>
                                <div class="mc-content">
                                    <div class="img-container">
                                        <img class="img-responsive"
                                             src="{{ game.image }}">
                                    </div>
                                    <div class="mc-description">
                                        <div>
                                            {{ game.description }}
                                        </div>
                                        <div>
                                            {% if game.getGameSession() == true %}
                                                {{ game.getGameSession()|length }}
                                            {% endif %}
                                            {# Работает #}
                                            {#{% if game.getGameSession() == true %}#}
                                            {#{% for item in game.getGameSession() %}#}
                                            {#{{ item.getId() }}#}
                                            {#{% for gamer in item.getGamer() %}#}
                                            {#{{ gamer.getLogin() }}#}
                                            {#{% endfor %}#}
                                            {#{% endfor %}#}
                                            {#{% endif %}#}
                                        </div>
                                    </div>
                                </div>
                                <a rel="nofollow" class="mc-btn-action">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <div class="mc-footer">
                                    <h4>
                                        Social
                                    </h4>
                                    {#<a rel="nofollow" class="fa fa-fw fa-facebook"></a>#}
                                    {#<a rel="nofollow" class="fa fa-fw fa-twitter"></a>#}
                                    {#<a rel="nofollow" class="fa fa-fw fa-linkedin"></a>#}
                                    {#<a rel="nofollow" class="fa fa-fw fa-google-plus"></a>#}

                                    <a rel="nofollow" href="#" class="fa fa-fw ">

                                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>

                                    </a>
                                    <a rel="nofollow" href="#" class="fa fa-fw glyphicon glyphicon-plus"></a>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </section>


    {% endblock %}

    {% block javascript %}
        {{ parent() }}
        <script src="{{ asset('/bundles/iasgame/vendor/material-cards/js/jquery.material-cards.min.js') }}"></script>
        <script href="{{ asset('/bundles/iasgame/js/game.js') }}"></script>
    {% endblock %}